<h1>Carrito</h1>

<p id="log" />

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
    const log = document.getElementById('log');

    var eliminarProducto = function () {
        var attribute = this.getAttribute("data-id");
        socket.emit('eliminarProducto', attribute);
        console.log(attribute);
    };

    socket.on('carrito', data => {
        let logs = '';
        data.carrito.forEach(producto => {
            logs += `${producto.prod.nombre} ${producto.prod.apellido} <button class="eliminar" data-id="${producto.prod.id}">Eliminar </button> <br/>`
        })
        log.innerHTML = logs;

        const inputs = document.getElementsByClassName('eliminar');
        Array.from(inputs).forEach(function (element) {
            element.addEventListener('click', eliminarProducto);
        });
    });

</script>